name: Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l {0}

env:
  # --color=yes needed for colorized output to be shown in GHA logs
  # --pyargs watertap is needed to be able to define CLI options in watertap/conftest.py
  PYTEST_ADDOPTS: "--color=yes"
  PIP_PROGRESS_BAR: "on"
#   WATERTAP_KERNEL_NAME: watertap-dev

jobs:

  code-formatting:
    name: Check code is formatted (Black)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Black
        run: |
          black_requirement="$(grep '^black==' requirements.txt)"
          pip install "$black_requirement"
      - name: Run Black
        run: black --check .

  tests:
    name: Tests (Python 3.10)
    needs: [code-formatting]
    strategy:
      matrix:
        # os: [ubuntu-22.04, macos-12, windows-2022]
        os: [ubuntu-22.04, windows-2022]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Conda environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          activate-environment: flex_desal_analysis
          environment-file: flex_desal_analysis_setup.yml
          auto-update-conda: false

      - name: Display installed packages
        run: |
          conda list
          pip list

      - name: Install IDAES extensions
        run: |
          echo '::group::Installing IDAES extensions'
          idaes get-extensions
          echo '::endgroup::'

      - name: Run tests
        run: pytest -vv
